@model IEnumerable<TaskResponse>
@{
    ViewBag.Title = "Completed Tasks";
}

<div class="container">
    <div class="page-content">
        @foreach (TaskResponse task in Model)
        {
            <div class="card">
                <a asp-controller="Home"
                   asp-action="SubTasks"
                   asp-route-groupId="@task.GroupId"
                   class="Title">
                    @task.Title
                </a>
                <button class="delete-btn"><a asp-controller="Home" asp-action="DeleteTask" asp-route-groupId="@task.TaskId">x</a></button>
                <button class="edit-btn"><a asp-controller="home" asp-action="EditTask" asp-route-groupId="@task.TaskId"><i class="fas fa-edit fa-2xs"></i></a></button>
            </div>
        }
    </div>
</div>