@using FlowForge.Core.Enums
@model IEnumerable<Notification>
@{
    var unreadCount = Model.Count(n => !n.IsRead);
}

<input type="hidden" id="hiddenUnreadCount" value="@unreadCount" />
<div class="notification-content">
    @if (!Model.Any())
    {
        <div class="text-center text-secondary py-3">
            <i class="fas fa-info-circle me-1"></i>
            <span class="d-none d-sm-inline">No notifications</span>
        </div>
    }
    else
    {
        @foreach (var notification in Model.Take(5))
        {
            @await Html.PartialAsync("_NotificationItem", notification)
        }
    }

    <div class="dropdown-item text-center mt-2 p-2">
        <a asp-controller="Notification" asp-action="AllNotifications" class="btn btn-sm btn-outline-light view-all-btn">
            <i class="fas fa-list d-sm-none"></i>
            <span class="d-none d-sm-inline">View All Notifications</span>
            <span class="d-sm-none">View All</span>
        </a>
    </div>
</div>