<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="utf-8"/>
    <link href="~/StyleSheet.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
</head>
<body>
    <div>
        <nav>
            <div class="logo">
                <i class="fas fa-check-square"></i> To-Do List
            </div>

            <div class="nav-links">
                <a href="/"><i class="fas fa-home"></i> Home</a>
                <a href="/tasks/completed"><i class="fas fa-check"></i> Completed</a>
                <a href="#"><i class="fas fa-user"></i> Profile</a>
            </div>

            <button class="add-task-btn">
                <i class="fas fa-plus"></i> Add Task
            </button>

            <div class="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
